<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Confirmar entrega</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="divModal">


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<button type="button" id="btnModal" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop"
  [hidden]="true">
</button>


<div class="row">
  <legend class="col-form-label col-sm-4 pt-0"><b>Forma Entrega</b></legend>
</div>
<div class="row pl-4">
  <div class="col-sm-8">
    <div class="form-check">
      <input class="form-check-input" type="radio" name="gridEnvio" id="antesPosible" value="option1" checked
        (click)="desplegarFechaHora()">
      <label class="form-check-label" for="antesPosible">
        Lo antes posible
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="gridEnvio" id="fecha" value="option2"
        (click)="desplegarFechaHora()">
      <label class="form-check-label" for="fecha">
        Fecha
      </label>
    </div>

  </div>
</div>


<form class="form-inline mt-4" *ngIf="fecha">
  <div class="form-group">
    <div class="input-group" id="divFecha">
      <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [displayMonths]="displayMonths"
        [navigation]="navigation" [outsideDays]="outsideDays" [showWeekNumbers]="showWeekNumbers" ngbDatepicker
        #d="ngbDatepicker" [maxDate]="fechaHasta" [minDate]="fechaDesde" onkeydown="return false" id="fecha">
      <div class="input-group-append">
        <button class="btn btn-outline-primary calendar" (click)="d.toggle()" type="button">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-calendar-date" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
            <path
              d="M6.445 11.688V6.354h-.633A12.6 12.6 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23z" />
          </svg>
        </button>
      </div>
    </div>
  </div>

  <div class="form-group mt-2">
    <div class="col-12 p-0 input-group">
      <input type="number" class="form-control col-3 mr-2 text-center" placeholder="HH" aria-label="Horas" id="horas"
        (input)="validarLenghtHora($event)" (blur)="actualizarHoras($event)"> <span class="mt-1"><b>:</b></span>
      <input type="number" class="form-control col-3 ml-2 text-center" placeholder="MM" aria-label="Minutos"
        id="minutos" (input)="validarLenghtMinuto($event)" (blur)="actualizarMinutos($event)">
    </div>
  </div>

</form>
<div class="row">
  <div class="col-12 mt-4">
    <button type="submit" class="btn btn-success w-100 rounded-pill"  (click)="confirmar()">Confirmar</button>
  </div>
</div>

<div>{{message}}</div>
