<div class="container">
    <div class="row ">
        <div class="col-lg-5 col-md-5 col-sm-12 ">
            <app-carrito></app-carrito>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-12">
            <div class="card w-100" >  
                <div class="card-body">
                    <h5 class="card-title">Confirmacion Pedido</h5>
                    <app-formulario-direccion></app-formulario-direccion>
                    <app-formulario-forma-pago></app-formulario-forma-pago>
                    <app-formulario-entrega></app-formulario-entrega>
                </div>
            </div>
        </div>
    </div>
</div>
